<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    
  <link rel="stylesheet" th:href="@{/css/application.css}">
  <title th:text="Best"></title>
</head>



<body>
  <nav th:replace="~{navbar :: navbar('Movie')}"></nav>

 <div class="container">
        <h1 class="text-center py-3">Movie</h1>
        <div class="row justify-content-center">
            <div class="col-3">
                <ul class="list-group" th:if="${movies.size() > 0}">
                    <li class="list-group-item" th:each="item : ${movies}">
                        
                        <a class="nav-link" th:href="@{/index/movies/{id}(id=${item.id})}">

                            <span th:text="${item.titolo}"></span>
                        </a>
                    </li>
                </ul>

                <p th:unless="${movies.size() > 0}"> Non ci sono film nella lista </p>
            </div>
        </div>
    </div>
      <!-- Bootstrap Bundle with Popper -->
   	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
